<div class="container">
  <div class="card mt-2">
      <div class="card-header">
          <h5>Enregistrement d'une classe</h5>
      </div>
      <div class="card-body">
          <form class="col-md-8 offset-2" #formClasse="ngForm"
          (ngSubmit)="formClasse.form.valid && onSaveFormulaire()"
          >


              <div class="mb-3">
                  <label for="libelle" class="form-label">Libelle</label>
                  <input type="text"
                         name="libelle"
                         [(ngModel)]="classeCreate.libelle"
                         class="form-control" id="libelle" aria-describedby="emailHelp"
                         #libelle="ngModel"
                         minlength="5"
                         >

                        @if (libelle.errors && (libelle.dirty || libelle.touched)) {
                          @if(libelle.errors["required"]){
                            <small id="nomCompletHelp" class="form-text text-danger">
                              Le libelle est obligatoire
                            </small>

                          }
                          @if(libelle.errors["minlength"]){
                            <small id="nomCompletHelp" class="form-text text-danger">
                              Le libelle doit avoir aumoins 5 caracteres
                            </small>

                          }

                        }


              </div>


              <div>
                  <button [disabled]="formClasse.invalid" type="submit" class="float-end btn btn-primary">Enregister</button>
              </div>

          </form>



      </div>
  </div>
</div>
