<div class="container mt-2">
  <!--Nav-->
  <!--<div th:replace="nav :: nav"></div>-->
  <div class="card mt-1">
    <div class="card-header">
      <h3>Liste des sessions de cours </h3>
      <div class="my- float-end">
        <a
          class="btn btn-outline-info ">Nouveau sessionCours</a>
      </div>
    </div>

    <div class="card-body">
      <table class="table table-bordered" *ngIf="response?.results?.length">
        <thead>
            <tr>

              <th>Date</th>
              <th>Heure Debut</th>
              <th>Heure Fin</th>
              <th>Etat Session</th>
              <th>Type Session</th>
              <th>Nbr planifier</th>
              <th>Salle</th>
            </tr>
        </thead>
        <tbody>

          @for (item of response?.results; track $index) {
            <tr>
              <td>{{item.date}}</td>
              <td>{{item.heureDebut}}</td>
              <td>{{item.heureFin}}</td>
              <td>{{item.etatSession}}</td>
              <td>{{item.typeSession}}</td>
              <td>{{item.nombreHeurePlanifier}}</td>
              <td>{{item.salle}}</td>


              <td>
                <a class="btn btn-outline-success" [routerLink]="'/responsable/rp/session/' + item.id">Voir étudiant</a>
              </td>

              <td>
                <button class="btn btn-outline-danger" (click)="deleteEtudent(item.id)">Annuler la session de cours</button>
              </td>


              <!--<td>
                <button class="btn btn-outline-danger" (click)="cancelSession(item.id)">Annuler la session de cours</button>
              </td>-->



           </tr>
          }


        </tbody>
      </table>

      <app-pagination [data]="dataPagination" (onGetNumberPage)="paginate($event)" ></app-pagination>

</div>


